<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visa Expert Uz</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            padding-top: 56px;
        }

        .hero {
            background: url('https://cdn.pixabay.com/photo/2021/11/26/17/26/desert-6826299_1280.jpg') no-repeat center center;
            background-size: cover;
            height: 100vh;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .hero h1 {
            font-size: 4rem;
            font-weight: bold;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        .hero p {
            font-size: 1.5rem;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        }

        .services img {
            width: 100%;
            height: auto;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .services .card {
            border: none;
            margin-bottom: 2rem;
        }

        .testimonials {
            background: #f8f9fa;
            padding: 3rem 0;
        }

        .contact-form {
            background: #f8f9fa;
            padding: 3rem 0;
        }

        .footer {
            background-color: #343a40;
            color: #fff;
            padding: 20px 0;
            font-size: 0.9rem;
        }

        .footer a {
            color: #fff;
        }

        .social-links a {
            color: #fff;
            margin: 0 10px;
            font-size: 1.2rem;
        }

        .smaller-text {
            font-size: 0.9rem; /* Adjust the font size as needed */
        }

    </style>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Visa Expert Uz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#services">Xizmatlar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">Biz Haqimizda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Bog'lanish</a>
            </li>
        </ul>
    </div>
</nav>


<!-- Hero Section -->
<section class="hero">
    <div>
        <h1>Dunyoni Biz Bilan Kashf Eting</h1>
        <p>Sayohatlaringiz Shu Yerdan Boshlanadi</p>
    </div>
</section>

<!-- Services Section -->
<section id="services" class="container py-5">
    <div class="text-center mb-5">
        <h2>Bizni xizmatlar</h2>
        <p> Bizning Tour Firma Sizlarga Biletlar Vizalar Va Tour Paketlar Olishingizda Yordam Beradi!</p>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <div class="card">
                <img src="https://images.pexels.com/photos/672358/pexels-photo-672358.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                     class="card-img-top" alt="https://cdn.pixabay.com/photo/2021/12/11/11/48/nature-6862612_1280.jpg">
                <div class="card-body">
                    <h3 class="card-title">Vizalar</h3>
                    <p class="card-text smaller-text">
                        Sizga istalgan davlatga sayohat qilishni osonlashtiramiz! Bizning viza bo'yicha
                        mutaxassislarimiz butun
                        jarayonni muammosiz va tez amalga oshirishingizga yordam beradi. Hujjatlarni to'plashdan viza
                        olishgacha
                        siz bilan bo'lamiz va 24/7 konsultatsiya taqdim etamiz. Bizning maqsadimiz – sizning vaqtingizni
                        qadrlash va viza jarayonini samarali va tez hal qilishdir.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://images.pexels.com/photos/2104742/pexels-photo-2104742.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                     class="card-img-top"
                     alt="https://cdn.pixabay.com/photo/2019/09/03/13/13/countryside-4449408_1280.jpg">
                <div class="card-body">
                    <h3 class="card-title">Tur Paketlar</h3>
                    <p class="card-text smaller-text">
                        Biz bilan ajoyib va unutilmas sayohatlarni his eting. Sizga qulay narxlarda va komfortli
                        turlarni taqdim
                        etamiz. Bizning jamoamiz dunyoning istalgan nuqtasiga yo’l ochadi va har bir sayohatingizni
                        samarali
                        tashkil etadi. Tajribali xodimlarimiz Indoneziya, Malayziya, Vetnam, Turkiya, Tailand va boshqa
                        ko'plab
                        mamlakatlarda chegirmalar taklif etadi. Biz bilan dunyoning istalgan joyiga tashrif
                        buyurishingiz
                        mumkin!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://images.pexels.com/photos/1004584/pexels-photo-1004584.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                     class="card-img-top" alt="https://cdn.pixabay.com/photo/2019/08/14/10/37/beach-4405371_1280.jpg">
                <div class="card-body">
                    <h3 class="card-title">Dunyoni Biz Bilan Kashf Et!</h3>
                    <p class="card-text smaller-text">
                        O'z hayotingizga rang-baranglik va yangi tajribalar qo'shing! Bizning sayohat agentligimiz viza
                        va
                        turlar, ekskursiyalar, mehmonxona bronlash, transferlar va boshqa ko'plab xizmatlarni taqdim
                        etadi.
                        Sizning xavfsizligingiz va qulayligingizni ta'minlash uchun har bir tafsilotni e'tibordan chetda
                        qoldirmaymiz. Dunyo bo'ylab sayohatlaringizni rejalashtirishda bizga ishonib, sayohatingizni
                        ajoyib
                        sarguzashtga aylantiring. Biz bilan orzularingizdagi joylarga sayohat qiling!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-4">
            <a href="get/further/details" class="btn btn-primary btn-lg btn-block">Batafsil</a>
        </div>
    </div>

</section>

<!-- About Section -->
<section id="about" class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Biz Haqimizda</h2>
            <p>
                Visa Expert jamoasi chiqish, qabul va viza xizmatlari bilan shug'ullanadi. Uzoq yillik tajribaga ega
                mutaxassislarimiz xorijiy davlatlarga xavfsiz va qulay sayohat dasturlarini ishlab chiqqan. Mahalliy
                turistlarning dam olish vaqtlari va sayohatlarini mazmunli tashkil etamiz. Biz Osiyo, Yevropa, Shimoliy
                va Janubiy Amerika davlatlariga viza olishda yordam beramiz.
            </p>
        </div>
        <div class="col-md-6">
            <img src="https://cdn.pixabay.com/photo/2024/04/10/06/53/ai-generated-8687396_1280.jpg" class="img-fluid"
                 alt="https://cdn.pixabay.com/photo/2020/02/23/12/22/river-4873198_1280.jpg">
        </div>
    </div>
</section>

<!-- Testimonials Section -->
<section id="testimonials" class="testimonials text-center py-5">
    <div class="container">
        <h2>Bizni Mijozlarimizni Fikrlari</h2>
        <div class="row">
            <div class="col-md-4">
                <blockquote class="blockquote">
                    <p class="mb-0">"Judaham Qaynoq Taasurotlar! Mutlaqo Tavsiya Qilaman"</p>
                    <footer class="blockquote-footer">Bobur G'ulomov</footer>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote class="blockquote">
                    <p class="mb-0">"Hayotimdagi eng zo'r sarguzashtlar bo'ldi, yana albatta buyurtma beraman."</p>
                    <footer class="blockquote-footer">Javohir Murodullayev</footer>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote class="blockquote">
                    <p class="mb-0">"Выдающийся сервис и невероятные направления!"</p>
                    <footer class="blockquote-footer">Анастасия Иванова</footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact-form py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Biz Bilan Bog'laning</h2>
                <p>Istagan Paytingiz Murojaat Qiling</p>
                <p>Telefon Raqam: +998 50 750 6600</p>
                <p>Email: visaexpert.uz@gmail.com</p>
                <p>Adres: 13A Beruniy Ko'cha, Tashkent, Uzbekistan</p>
                <a href="https://www.instagram.com/Visaexpert_uz" target="_blank" class="mr-3">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://t.me/greencardinform" target="_blank">
                    <i class="fab fa-telegram"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Footer Section -->
<footer class="footer text-center">
    <div class="container">
        <p>© 2024 Visa Expert Uz | <a class="text-info text-lg-center"
                                                            href="https://www.linkedin.com/in/muhammadtrying/">Muhammad's
            Production 2024</a></p>
        <!-- Social Media Links -->
        <div class="social-links mt-3">
            <a href="https://www.instagram.com/Visaexpert_uz" target="_blank" class="mr-3">
                <i class="fab fa-instagram"></i> Bizni Instagramda Kuzatib Boring!
            </a>
            <a href="https://t.me/greencardinform" target="_blank">
                <i class="fab fa-telegram"></i> Telegram Kanalimizga Obuna Bo'ling!
            </a>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>